.logo{max-width:100%;width:280px;margin:10% auto;}
.profile-box{padding:10px;border-bottom: solid 1px #FFF;}
.profile-box .pic{width: 25%;display:inline-block;padding: 3px;background: #FFF;}
.profile-box .pic img{width:100%;}
.profile-box .info{width: 65%;display:inline-block;vertical-align:top;margin-left: 7px;}
.profile-box .info h3{font-family: "Roboto", sans-serif;font-weight: 400;margin:0px;}
.profile-box .info p{text-shadow: 0 0px 0 transparent;font-size:17px;margin:4px;}
.profile-box .info p i{width:18px;}